{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid contour">
    {%  if car %}
        {% if mail is defined %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p style="color: #00e765">{{ mail }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div style="margin-top: 25px;" class="container">
            <div style="margin-top: 0px" class="row">
                <div class="col-md-6 annonce_header">
                    <h5>Autocar <strong style="color: #00e765"><em>{{ car.marque | upper }}</em></strong></h5>
                    {% if car.km is defined  and car.km > 0 and car.km is not null %}
                    <i class="fa fa-bus"></i><span>
                        {{ car.km }}
                        Km | mise en circulation le {{ car.dateMar |date('d/m/Y') }}
                        {% else %}
                           <strong>{{ car.dateMar | date('d/m/Y') }}</strong>
                    {% endif %}</span>
                </div>
                <div style="text-align: right" class="col-md-6">
                    <i style="color: #0be765" class="fa fa-money"></i><span> <em><strong style="font-size: 25px">{{ car.prix }} € HT</strong></em></span>
                </div>
            </div>
            {% if app.flashes %}
                {% for message in app.flashes('success') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="separator"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% if car.images is not null and car.images is not empty %}
                        {% for car in car.images  %}
                            {% if loop.first %}
                                <a href="../../{{ car.url }}" data-fancybox="gallery">
                                    <img src="../../{{ car.url }}" alt="{{ car.alt }}">
                                </a>
                                {% else %}
                                    <a href="../../{{ car.url }}" data-fancybox="gallery">
                                        <img style="width: 14%; height: 14%; margin-top: 15px"  src="../../{{ car.url }}" alt="{{ car.alt }}">
                                    </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <img style="display: block; width: 211px; height: 211px; margin: 0 auto" src="{{ asset('images/no-camera.png') }}" alt="no camera">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h6>Caractéristiques :</h6>
                    <div class="caracteristiques">
                        <table style="max-width: 300px" class="table-responsive">
                            <tbody>
                                <tr class="bg-grey">
                                    <td>Norme Euro : </td><td><em class="right"><b>{{ car.euro }}</b></em></td>
                                </tr>
                                <tr>
                                    <td>Puissance moteur (cv din) : </td><td><em class="right"><b>{{ car.puissance }}</b></em></td>
                                </tr>
                                <tr class="bg-grey">
                                    <td>Energie : </td><td><em class="right"><b>{{ car.energie | upper }}</b></em></td>
                                </tr>
                                <tr>
                                    <td>Transmission : </td><td><em class="right"><b>{{ car.transmission | upper }}</b></em></td>
                                </tr>
                                <tr class="bg-grey">
                                    <td>Bv : </td><td><em class="right"><b>{{ car.bv }}</b></em></td>
                                </tr>
                                <tr>
                                    <td>Longueur : </td><td><em class="right"><b>{{ car.longueur }} m</b></em></td>
                                </tr>
                                <tr class="bg-grey">
                                    <td>Hauteur : </td><td><em class="right"><b>{{ car.hauteur }} m</b></em></td>
                                </tr>
                                <tr>
                                    <td>Sièges passagers : </td><td><em class="right"><b>{{ car.nbPlaces }}</b></em></td>
                                </tr>
                                <tr class="bg-grey">
                                    <td>Accessibilité : </td><td><em class="right"><b>{{ car.accessibilite | upper }}</b></em></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6><em>AUTOCARS PAYS DE SAVOIE</em></h6>
                    <br>
                    <span>55 impasse du Môle - Z.A des Dragiez <br>74800 La Roche sur Foron</span><br>
                    <span style="color: #0be765"><i style="color: #0be765" class="fa fa-phone"></i>06 76 72 75 96<br></span>
                    <a href="mailto:thierry.janeriat@autocarspaysdesavoie.fr"> thierry.janeriat@autocarspaysdesavoie.fr</a>
                    {% if app.user %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mailModal" >Envoyer par mail</button>
                    {% endif %}
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Le mail du client</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form) }}
                                <ul class="mails" data-prototype="{{ form_widget(form.mailclients.vars.prototype, {'class': 'form-control' })|e('html_attr') }}">
                                    {# Génération du label.
                                    {{ form_label(form.mailclient, "Mail client : ", {'label_attr': {'class': ' control-label'}}) }}
                                     #}

                                    {# Génération de l'input.#}
                                </ul>
                                {{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
                            {{ form_end(form) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="reloadMail" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="separator"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6>Equipements</h6>
                </div>
            </div>
            <div class="row equipements_table">
                <div class="col-md-4">
                    <table>
                        <tbody>
                        <tr class="bg-grey">
                            <td>Regulateur de vitesse : </td>
                            <td>
                                {% if car.RegulateurVitesse == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Gps :</td>
                            <td>
                                {% if car.Gps == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="bg-grey">
                            <td>Micro guide :</td>
                            <td>
                                {% if car.MicroGuide == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Clim :</td>
                            <td>
                                {% if car.Clim == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr  class="bg-grey">
                            <td>Buses individuelles : </td>
                            <td>
                                {% if car.BusesIndividuelles == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Rideaux : </td>
                            <td>
                                {% if car.Rideaux == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="bg-grey">
                            <td>Filets : </td>
                            <td>
                                {% if car.Filets == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Frigo : </td>
                            <td>
                                {% if car.Frigo == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table>
                        <tbody>
                        <tr class="bg-grey">
                            <td>Ceinture de sécurité</td>
                            <td>
                                {% if  car.CeintureSecurite == "2 points" or car.CeintureSecurite == "3 points" %}
                                    <em><strong>{{ car.CeintureSecurite | upper }}</strong></em>
                                {% else %}
                                    <em><strong>-</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Vidéo :</td>
                            <td>
                                {% if  car.Video == "DVD" or car.Video == "VHS" %}
                                    <em><strong>{{ car.Video | upper }}</strong></em>
                                {% else %}
                                    <em><strong>-</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="bg-grey">
                            <td>Micro conducteur :</td>
                            <td>
                                {% if car.MicroConducteur == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Chauffage indépendant : </td>
                            <td>
                                {% if car.ChauffageIndependant == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr  class="bg-grey">
                            <td>Ralentisseur : </td>
                            <td>
                                {% if  car.Ralentisseur == "intarder" or car.Ralentisseur == "voith" or car.Ralentisseur == "telma" %}
                                    <em><strong>{{ car.Ralentisseur | upper }}</strong></em>
                                {% else %}
                                    <em><strong>-</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Sièges décalables : </td>
                            <td>
                                {% if car.SiegesDecalables == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="bg-grey">
                            <td>Prédisposition ski : </td>
                            <td>
                                {% if car.PorteSki == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Abs : </td>
                            <td>
                                {% if car.Abs == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table>
                        <tbody>
                        <tr class="bg-grey">
                            <td>Tachygraphe : </td>
                            <td>
                                {% if  car.tachygraphe == "numérique" or car.tachygraphe == "analogique" %}
                                    <em><strong>{{ car.tachygraphe | upper }}</strong></em>
                                    {% else %}
                                        <em><strong>-</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Radio : </td>
                            <td>
                                {% if  car.Radio == "CD" or car.Radio == "cassettes" %}
                                    <em><strong>{{ car.Radio | upper }}</strong></em>
                                {% else %}
                                    <em><strong>-</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="bg-grey">
                            <td>Caméra : </td>
                            <td>
                                {% if  car.Camera == "Route" or car.Camera == "Guide" or car.Camera == "Porte N2" or car.Camera == "Recul" %}
                                    <em><strong>{{ car.Camera | upper }}</strong></em>
                                {% else %}
                                    <em><strong>-</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>WC : </td>
                            <td>
                                {% if car.Wc == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="bg-grey">
                            <td>Tablettes : </td>
                            <td>
                                {% if car.Tablettes == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Repose pieds : </td>
                            <td>
                                {% if car.ReposeMollet == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="bg-grey">
                            <td>Girouette : </td>
                            <td>
                                {% if car.Girouette == 1 %}
                                    <em><strong>OUI</strong></em>
                                {% else %}
                                    <em><strong>NON</strong></em>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="separator"></div>
                </div>
            </div>
            {% if app.user %}
                <div style="margin-bottom: 20px" class="row bg-green">
                    <div class="col-md-6">
                        <a href="{{ path('car', {'id': car.id }) }}" class="btn btn-block">Fiche du car</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('mev_car', {'id': car.id }) }}" class="btn btn-block">Modifier l'annonce</a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var $collectionHolder;

        //ajout mail client dynamique
        var $addMailLink = $('<a href="#" id="add_mail_link" class="btn btn-primary">Ajout de mail client</a>');
        var $newLinkLi = $('<li></li>').append($addMailLink);



        $(document).ready(function(){
            $collectionHolder = $('ul.mails');

            $collectionHolder.append($newLinkLi);
            var $CpIndex = $collectionHolder.find(':input').length;

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addMailLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

            if ($CpIndex === 0) {
                addTagForm($collectionHolder, $newLinkLi);
            }

            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your tags field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/___name__/g, '__name__');
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
            }





            /*$('#mailModal').click(function () {
               location.reload();
            });*/
        });
    </script>
{% endblock %}