{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col md 12">
                <h2 class="text-center">Etats des Carrosseries</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center">Immobilisation du Car</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table pt-30  table-bordered">
                        <thead class="text-uppercase">
                        <tr>
                            <th colspan="2">
                                Immatriculation
                            </th>
                            <th>Nature accro.</th>
                            <th>Accro signalé le</th>
                            <th>Modifier / Supprimer</th>
                        </tr>
                        </thead>
                        {% for accro in liste %}
                            {% if accro.etatCar == "immobilisation" %}
                                <tr>
                                    <td><i class="fa fa-paint-brush"></i></td><td><a href="{{ path('view_carrosserie_car', {'id': accro.id }) }}">{{ accro.car.immat | upper }}</a></td>
                                    <td>{{ accro.natureAccro }}</td>
                                    <td>{{ accro.dateSignalement | date("d/m/y") }}</td>
                                    <td><a class="edit_carrosserie" href="{{ path('edit_carrosserie', {'id': accro.id}) }}"><i style="color: #0d6aad" class="fa fa-edit"></i></a> / <a class="delete_car" href="{{ path('delete_carrosserie', {'id': accro.id}) }}"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center">Accrochage classé génant</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table pt-30  table-bordered">
                        <thead class="text-uppercase">
                        <tr>
                            <th colspan="2">
                                Immatriculation
                            </th>
                            <th>Nature accro.</th>
                            <th>Accro signalé le</th>
                            <th>Modifier / Supprimer</th>
                        </tr>
                        </thead>
                        {% for accro in liste %}
                            {% if accro.etatCar == "genant" %}
                                <tr>
                                    <td><i style="color: #ffa679" class="fa fa-paint-brush"></i></td>
                                    <td><a href="{{ path('view_carrosserie_car', {'id': accro.id }) }}">{{ accro.car.immat | upper }}</a></td>
                                    <td>{{ accro.natureAccro }}</td>
                                    <td>{{ accro.dateSignalement | date("d/m/y") }}</td>
                                    <td><a class="edit_carrosserie" href="{{ path('edit_carrosserie', {'id': accro.id}) }}"><i style="color: #0d6aad" class="fa fa-edit"></i></a> / <a class="delete_car" href="{{ path('delete_carrosserie', {'id': accro.id}) }}"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center">Accrochage classé sans incidence</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table pt-30  table-bordered">
                        <thead class="text-uppercase">
                        <tr>
                            <th colspan="2">
                                Immatriculation
                            </th>
                            <th>Nature accro.</th>
                            <th>Accro signalé le</th>
                            <th>Modifier / Supprimer</th>
                        </tr>
                        </thead>
                        {% for accro in liste %}
                            {% if accro.etatCar == "sans incidence" %}
                                <tr class="del_carro">
                                    <td><i style="color: #41da97" class="fa fa-paint-brush"></i></td>
                                    <td><a href="{{ path('view_carrosserie_car', {'id': accro.id }) }}">{{ accro.car.immat | upper }}</a></td>
                                    <td>{{ accro.natureAccro }}</td>
                                    <td>{{ accro.dateSignalement | date("d/m/y") }}</td>
                                    <td><a class="edit_carrosserie" href="{{ path('edit_carrosserie', {'id': accro.id}) }}"><i style="color: #0d6aad" class="fa fa-edit"></i></a> / <a class="delete_car" href="{{ path('delete_carrosserie', {'id': accro.id}) }}"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                {# {{ form_widget(form.enregistrer , {'attr': {'class': 'col-md-12 btn btn-primary'}})}}#}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
           $('.delete_car').click(function (e) {
               e.preventDefault();
               var ca = $(this);
               var test = ca.parent('.del_carro');
               if(confirm("Voulez-vous réellement supprimer cette information ?"))
               {
                   var path = $(this).attr('href');
                   ca.closest('tr').remove();
                   $.ajax({
                       type: 'POST',
                       url: path,
                       success: function (data) {
                           if(data.data === "ok")
                           {
                               console.log(data.data);
                           }
                       }
                   });
               }

           });
        });
    </script>
{% endblock %}