{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col md 12">
                <h2 class="text-center">Etats des Carrosseries</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table pt-30  table-bordered">
                        <thead class="text-uppercase">
                        <tr>
                            <th colspan="2">
                                Immatriculation
                            </th>
                            <th>Nature accro.</th>
                            <th>Accro signalé le</th>
                        </tr>
                        </thead>
                        {% for accro in liste %}
                            {% if accro.etatCar == "immobilisation" %}
                                <tr>
                                    <td><i class="fa fa-paint-brush"></i></td><td><a href="{{ path('view_carrosserie_car', {'id': accro.id }) }}">{{ accro.car.immat | upper }}</a></td>
                                    <td>{{ accro.natureAccro }}</td>
                                    <td>{{ accro.dateSignalement | date("d/m/y") }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center">Accrochage classés génant</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table pt-30  table-bordered">
                        <thead class="text-uppercase">
                        <tr>
                            <th colspan="2">
                                Immatriculation
                            </th>
                            <th>Nature accro.</th>
                            <th>Accro signalé le</th>
                        </tr>
                        </thead>
                        {% for accro in liste %}
                            {% if accro.etatCar == "genant" %}
                                <tr>
                                    <td><i style="color: #ffa679" class="fa fa-paint-brush"></i></td>
                                    <td><a href="{{ path('view_carrosserie_car', {'id': accro.id }) }}">{{ accro.car.immat | upper }}</a></td>
                                    <td>{{ accro.natureAccro }}</td>
                                    <td>{{ accro.dateSignalement | date("d/m/y") }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center">Accrochage classés Sans incidence</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table pt-30  table-bordered">
                        <thead class="text-uppercase">
                        <tr>
                            <th colspan="2">
                                Immatriculation
                            </th>
                            <th>Nature accro.</th>
                            <th>Accro signalé le</th>
                        </tr>
                        </thead>
                        {% for accro in liste %}
                            {% if accro.etatCar == "sans incidence" %}
                                <tr>
                                    <td><i style="color: #41da97" class="fa fa-paint-brush"></i></td>
                                    <td><a href="{{ path('view_carrosserie_car', {'id': accro.id }) }}">{{ accro.car.immat | upper }}</a></td>
                                    <td>{{ accro.natureAccro }}</td>
                                    <td>{{ accro.dateSignalement | date("d/m/y") }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                {# {{ form_widget(form.enregistrer , {'attr': {'class': 'col-md-12 btn btn-primary'}})}}#}
            </div>
        </div>
    </div>

{% endblock %}