{% extends 'base.html.twig' %}
{% block stylesheets %}
    <script src="{{ asset('css/dropzone.css') }}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Mise en vente</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="text-center">Préparation</h3>
        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {{ form_errors(form) }}

            <div class="col-md-12 col-sm-10">

                <div class="form-row">
                    {# Génération du label. #}
                    <div class="form-group col-md-6">
                        {{ form_label(form.immat, "Immatriculation du Car : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}

                        {{ form_widget(form.immat, {'attr': {'class': ' form-control'}}) }}
                        {{ form_errors(form.immat, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {# Génération du label. #}
                        {{ form_label(form.site, "Centre de rattachement du Car : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.site, {'attr': {'class': ' form-control'}}) }}
                        {{ form_errors(form.site, { 'attr': {'class': 'red' }}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {# Génération du label. #}
                        {{ form_label(form.num_serie, "Numéro de Série : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.num_serie, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.num_serie, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {# Génération du label. #}
                        {{ form_label(form.auteur, "Déclarant : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.auteur, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.auteur, { 'attr': {'class': 'red' }}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {# Génération du label. #}
                        {{ form_label(form.locataire, "Locataire du Car : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.locataire, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.locataire, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {# Génération du label. #}
                        {{ form_label(form.marque, "Marque : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.marque , {'attr': {'class': 'form-control'}})}}
                        {{ form_errors(form.marque, { 'attr': {'class': 'red' }}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {# Génération du label. #}
                        {{ form_label(form.date_mar, "Date 1èr mise en circulation : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.date_mar , {'attr': {'class': ' js-datepicker form-control'}})}}
                        {{ form_errors(form.date_mar, { 'attr': {'class': 'red' }}) }}
                    </div>
                </div>
                <div class="form-row etat_hide">
                    <div class="form-group col-md-6 etat_hide">
                        {# Génération du label. #}
                        {{ form_label(form.fin_garantie, "Date fin de garantie : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.fin_garantie , {'attr': {'class': ' js-datepicker form-control'}})}}
                        {{ form_errors(form.fin_garantie, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-6 etat_hide">
                        {# Génération du label. #}
                        {{ form_label(form.proprio_pneus, "Propriètaire de pneus : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.proprio_pneus, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.proprio_pneus, { 'attr': {'class': 'red' }}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        {{ form_label(form.euro, "Norme Euro : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}

                        {{ form_widget(form.euro, {'attr': {'class': ' form-control'}}) }}
                        {{ form_errors(form.euro, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-4">
                        {# Génération du label. #}
                        {{ form_label(form.nb_places, "Nb places: ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.nb_places, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.nb_places, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {# Génération du label. #}
                        {{ form_label(form.ct, "Controle technique ou MIME : ", {'label_attr': {'class': ' control-label '}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.ct , {'attr': {'class': ' js-datepicker form-control'}})}}
                        {{ form_errors(form.ct, { 'attr': {'class': 'red' }}) }}
                    </div>
                </div>
                <div class="form-row ">

                    <div class="form-group col-md-3">
                        {# Génération du label. #}
                        {{ form_label(form.date_extincteur, "Extincteur : ", {'label_attr': {'class': ' control-label '}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.date_extincteur , {'attr': {'class': ' js-datepicker form-control'}})}}
                        {{ form_errors(form.date_extincteur, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-3">
                        {# Génération du label. #}
                        {{ form_label(form.date_limiteur, "Limiteur: ", {'label_attr': {'class': ' control-label '}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.date_limiteur , {'attr': {'class': ' js-datepicker form-control'}})}}
                        {{ form_errors(form.date_limiteur, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-3">
                        {# Génération du label. #}
                        {{ form_label(form.date_tachy, "Tachy : ", {'label_attr': {'class': ' control-label '}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.date_tachy , {'attr': {'class': ' js-datepicker form-control'}})}}
                        {{ form_errors(form.date_tachy, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-3">
                        {# Génération du label. #}
                        {{ form_label(form.date_ethylo, "Ethylo : ", {'label_attr': {'class': ' control-label '}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.date_ethylo , {'attr': {'class': ' js-datepicker form-control'}})}}
                        {{ form_errors(form.date_ethylo, { 'attr': {'class': 'red' }}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 etat_hide">
                        {# Génération du label. #}
                        {{ form_label(form.etat_car, "Précisez l'état du car : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.etat_car , {'attr': {'class': 'form-control'}})}}
                        {{ form_errors(form.etat_car, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-12 etat_hide">
                        {# Génération du label. #}
                        {{ form_label(form.condition_garantie, "Condition de garantie : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.condition_garantie , {'attr': {'class': 'form-control'}})}}
                        {{ form_errors(form.condition_garantie, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class="form-group col-md-6 etat_hide">
                        {# Génération du label. #}
                        {{ form_label(form.garantie, "Sous garantie : ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.garantie , {'attr': {'class': ' js-datepicker form-control'}})}}
                        {{ form_errors(form.garantie, { 'attr': {'class': 'red' }}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 etat_hide">
                        {# Génération du label. #}
                        {{ form_label(form.date_prev, "Date prev: ", {'label_attr': {'class': ' control-label'}}) }}
                        {# Génération de l'input.#}
                        {{ form_widget(form.date_prev , {'attr': {'class': ' js-datepicker form-control'}})}}
                        {{ form_errors(form.date_prev, { 'attr': {'class': 'red' }}) }}
                    </div>
                    <div class=" form-group col-md-6">
                        {{ form_label(form.ralentisseur, "Ralentisseur : ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.ralentisseur, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.ralentisseur, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        {{ form_label(form.memo_car, "Mémo car : ", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.memo_car, {'attr': {'class': 'form-control', 'rows': '8'}}) }}
                        {{ form_errors(form.memo_car, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div><h4 class="upper pt-30">équipements</h4>
                <div class="form-row">
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.siege_guide, {'attr': {'class': 'form-control'}}) }}<b>Siège guide </b>

                        {{ form_errors(form.siege_guide, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.wc, {'attr': {'class': 'form-control'}}) }}<b>Toilettes </b>

                        {{ form_errors(form.wc, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.ufr, {'attr': {'class': 'form-control'}}) }}<b>Rampe PMR :</b>

                        {{ form_errors(form.ufr, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.usb, {'attr': {'class': 'form-control'}}) }}<b>Prises USB :</b>

                        {{ form_errors(form.usb, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.prises_elec, {'attr': {'class': 'form-control'}}) }}<b>Prises élec.</b>

                        {{ form_errors(form.prises_elec, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.porte_ski, {'attr': {'class': 'form-control'}}) }}<b>Porte ski </b>

                        {{ form_errors(form.porte_ski, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-3">
                        {{ form_widget(form.regulateur_vitesse, {'attr': {'class': 'form-control'}}) }}<b>Regulateur Vit. </b>

                        {{ form_errors(form.regulateur_vitesse, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-3">
                        {{ form_widget(form.gps, {'attr': {'class': 'form-control'}}) }}<b>GPS </b>

                        {{ form_errors(form.gps, {'attr': {'class': 'form-control'}}) }}
                    </div>

                </div>
                <div class="form-row">
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.abs, {'attr': {'class': 'form-control'}}) }}<b>ABS</b>

                        {{ form_errors(form.abs, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.esp, {'attr': {'class': 'form-control'}}) }}<b>ESP </b>

                        {{ form_errors(form.esp, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-3">
                        {{ form_widget(form.asr, {'attr': {'class': 'form-control'}}) }}<b>ASR</b>

                        {{ form_errors(form.asr, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-3">
                        {{ form_widget(form.frigo, {'attr': {'class': 'form-control'}}) }}<b>Frigo</b>

                        {{ form_errors(form.frigo, {'attr': {'class': 'form-control'}}) }}
                    </div>

                </div>
                <div class="form-row">
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.micro_conducteur, {'attr': {'class': 'form-control'}}) }}<b>Micro Cond.</b>

                        {{ form_errors(form.micro_conducteur, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.micro_guide, {'attr': {'class': 'form-control'}}) }}<b>Micro Guide</b>

                        {{ form_errors(form.micro_guide, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-3">
                        {{ form_widget(form.girouette, {'attr': {'class': 'form-control'}}) }}<b>Girouette</b>

                        {{ form_errors(form.girouette, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-3">
                        {{ form_widget(form.tablettes, {'attr': {'class': 'form-control'}}) }}<b>Tablettes</b>

                        {{ form_errors(form.tablettes, {'attr': {'class': 'form-control'}}) }}
                    </div>

                </div>
                <div class="form-row">
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.chauffage_independant, {'attr': {'class': 'form-control'}}) }}<b>Chauffage Indépandant</b>

                        {{ form_errors(form.chauffage_independant, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-3">

                        {{ form_widget(form.buses_individuelles, {'attr': {'class': 'form-control'}}) }}<b>Buses individuelles</b>

                        {{ form_errors(form.buses_individuelles, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-3">
                        {{ form_widget(form.sieges_decalables, {'attr': {'class': 'form-control'}}) }}<b>Sièges décalables</b>

                        {{ form_errors(form.sieges_decalables, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-3">
                        {{ form_widget(form.repose_mollet, {'attr': {'class': 'form-control'}}) }}<b>Repose mollet </b>

                        {{ form_errors(form.repose_mollet, {'attr': {'class': 'form-control'}}) }}
                    </div>

                </div>
                <div class="form-row">
                    <div class=" form-group col-md-3">
                        {{ form_widget(form.rideaux, {'attr': {'class': 'form-control'}}) }}<b>Rideaux</b>

                        {{ form_errors(form.rideaux, {'attr': {'class': 'form-control'}}) }}
                    </div>

                </div>

                <div class="form-row">
                    <div class=" form-group col-md-4">

                        {{ form_label(form.ceinture_securite, "Ceintures Sécu.: ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.ceinture_securite, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.ceinture_securite, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-4">

                        {{ form_label(form.video, "Vidéo: ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.video, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.video, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-4">
                        {{ form_label(form.camera, "Caméra: ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.camera, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.camera, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.tachygraphe, "Tachygraphe: ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.tachygraphe, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.tachygraphe, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.radio, "Radio: ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.radio, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.radio, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                {% if car.images is not null and car.images is not empty %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="separator"></div>
                        </div>
                    </div>
                <div class="from-row">
                    <div class="col-md-12">
                        <h4>Photos enregistrés</h4>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 fa_edit">
                        {% if car.images | length == 1 or car.images | length == 2 %}
                            {% for car in car.images  %}
                                <i title="Supprimer" class="fa del_photo"><i class="fa fa-trash-o"></i></i><a class="del_img" href="../../{{ car.url }}" data-fancybox="gallery">
                                    <img style="width: 49%; height: 100%; margin-top: 15px"  src="../../{{ car.url }}" alt="{{ car.alt }}">
                                </a>
                            {% endfor %}
                        {% elseif car.images | length == 3 %}
                            {% for car in car.images  %}
                                <i title="Supprimer" class="fa del_photo"><i class="fa fa-trash-o"></i></i><a class="del_img" href="../../{{ car.url }}" data-fancybox="gallery">
                                    <img style="width: 33%; height: 100%; margin-top: 15px"  src="../../{{ car.url }}" alt="{{ car.alt }}">
                                </a>
                            {% endfor %}
                        {% elseif car.images | length == 4  %}
                            {% for car in car.images  %}
                                <i title="Supprimer" class="fa del_photo"><i class="fa fa-trash-o"></i></i><a class="del_img" href="../../{{ car.url }}" data-fancybox="gallery">
                                    <img style="width: 24%; height: 100%; margin-top: 15px"  src="../../{{ car.url }}" alt="{{ car.alt }}">
                                </a>
                            {% endfor %}
                        {% elseif car.images | length > 4  %}
                            {% for car in car.images  %}
                                <i title="Supprimer" class="fa del_photo"><i class="fa fa-trash-o"></i></i><a class="del_img" href="../../{{ car.url }}" data-fancybox="gallery">
                                    <img style="width: 14%; height: 100%; margin-top: 15px"  src="../../{{ car.url }}" alt="{{ car.alt }}">
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="separator"></div>
                        </div>
                    </div>
                {% endif %}
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="dropzone my-dropzone" id="form_snippet_image" action="{{path('ajax_snippet_image_send', {'id' : id })}}">
                        </div>
                    </div>
                </div>
                <h5>Caractéristiques</h5>
                <div class="form-row">
                    <div class=" form-group col-md-4">

                        {{ form_label(form.puissance, "Puissance moteur (cv din) : ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.puissance, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.puissance, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-4">

                        {{ form_label(form.energie, "Energie : ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.energie, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.energie, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-4">
                        {{ form_label(form.transmission, "Transmission : ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.transmission, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.transmission, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class=" form-group col-md-3">

                        {{ form_label(form.bv, "BV : ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.bv, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.bv, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-3">

                        {{ form_label(form.longueur, "Longueur : ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.longueur, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.longueur, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class=" form-group col-md-3">
                        {{ form_label(form.hauteur, "Hauteur : ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.hauteur, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.hauteur, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class=" form-group col-md-3">

                        {{ form_label(form.accessibilite, "Accessibilité : ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.accessibilite, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.accessibilite, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        {{ form_label(form.prix, "Prix HT : ", {'label_attr': {'class': ' control-label'}}) }}
                        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}

                        {{ form_errors(form.prix, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        {# Génération de l'input.#}
                        {{ form_widget(form.enregistrer , {'attr': {'class': 'col-md-6 btn btn-primary'}})}}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/dropzone.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".etat_hide").hide();
            $('input:checkbox').css('visibility', 'visible');

            var carprix = $('#car_prix').val();

            $('.del_photo').on('click', function(e){
                e.preventDefault();
                var mmd = $(this).next('a').attr('href');

                if(confirm("Supprimer cette photo ?"))
                {
                    $(this).hide().next().hide();
                    var url= window.location.href;


                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: {'del' : mmd},
                        dataType: 'json',
                        success: function(data){
                            console.log(data);
                        }
                    });
                }

            });

            //je récupère l'action où sera traité l'upload en PHP
            var _actionToDropZone = $("#form_snippet_image").attr('action');
            //je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone("#form_snippet_image", { url: _actionToDropZone, addRemoveLinks: true });
        });
    </script>
{% endblock %}